:root {
  color-scheme: light dark;
  --color-primary: oklch(0.6583 0.1255 222.19);
  --color-secondary: oklch(0.65 0.1456 44.35);
  --font-body: var(--font-crimson-pro), ui-serif, Georgia, serif;
  --font-heading: var(--font-encode-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    'SFMono-Regular', Consolas, Menlo, Courier, 'Courier New', monospace;
  --color-background: oklch(0.9594 0.024 67.54);
  --color-text: oklch(0.1995 0.0248 71.27);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(0.1595 0.0248 71.27);
    --color-text: oklch(0.9594 0.024 67.54);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background:
    url('/img/background_gridline.svg') repeat,
    url('/img/website_background.svg') repeat;
  background-size:
    auto,
    max(1280px, 100vw) auto;
  background-color: var(--color-background);
  min-height: 100vh;
  color: var(--color-text);
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-size: 1.25em;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.12em solid var(--color-primary);
  transition: 0.1s all;

  &:hover {
    color: var(--color-primary);
    border-width: 0.2em;
  }
}

p {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5em;
  letter-spacing: 0.04ch;
}

h1 {
  font-size: 2.5em;

  &.name {
    font-size: 3.2rem;
    margin: 0;
  }
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.35em;
}

code {
  font-family: var(--font-mono);
}

ul,
ol {
  line-height: 1.4;
}

ul {
  list-style-type: square;
  padding-inline-start: 1.5em;

  ul {
    list-style-type: disc;
  }
}

hr {
  border: none;
  border-bottom: 2px solid var(--color-secondary);
  margin: 1.5em 0;
}

main {
  margin: 0 auto;
  padding: 1rem 2rem;

  @media (max-width: 800px) {
    padding: 1rem;
  }
}

.primary-accent {
  color: var(--color-primary);
}

.secondary-accent {
  color: var(--color-secondary);
}

/* Utility class to apply a vertical highlight to a heading */
.highlight {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0.1em;
    bottom: 0;
    left: -1rem;
    width: 0.1em;
    background-color: var(--color-secondary);
  }
}

@media print {
  body {
    background: none;
    margin: 0;
  }
}
